:root {
  --primaryColor: #ff4e08;
  --bgColor: #212121;
  --textColor: #e6e5c7;
}

body {
  height: 100vh;
  background: #f8f8f8;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #3e3b2c;
}
body::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
}

/*  Header & Nav */
.hero {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url(img/bg.jpg);
  background-size: cover;
}
.container-nav {
  width: 100%;
  position: fixed;
  display: flex;
  background-color: rgba(69, 69, 69, 0.8);
  justify-content: space-around;
  align-items: center;
}
.nav-logo img {
  width: 90px;
}
.nav-menu {
  margin: 0 40px;
}
.menu-item {
  margin: 0 20px;
  color: var(--textColor);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  border-bottom: 2px solid var(--primaryColor);
}
.content-head {
  display: flex;
  height: 630px;
  justify-content: center;
  align-items: center;
}
.headline img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Breakpoints */
@media screen and (max-width: 768px) {
  .container-nav {
    padding-top: 5px;
    background-color: var(--bgColor);
    position: relative;
  }
  .nav-menu {
    background-color: var(--bgColor);
    width: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 7px;
    position: absolute;
    top: 89%;
  }
  .menu-item {
    margin: 0 7px;
  }
  .nav-logo img {
    width: 50px;
  }
  .headline {
    width: 80%;
  }
}
/*  End Header & Nav */

/* Main  */
.content-main {
  background-color: var(--bgColor);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-left {
  padding: 50px;
  margin-left: 100px;
}
.main-right {
  width: 600px;
}
.main-left-wrap img {
  border-radius: 5%;
  width: 400px;
  height: auto;
  box-sizing: border-box;
  object-fit: cover;
}
.main-right .subheadline {
  cursor: default;
  color: var(--textColor);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 600;
}
.main-right p {
  cursor: default;
  color: var(--textColor);
  text-align: justify;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  padding-bottom: 10px;
}
/* Button Cta */
.cta {
  flex-flow: wrap;
  display: flex;
}
.cta-primary {
  background-color: var(--primaryColor);
  flex-wrap: wrap;
  font-weight: 600;
  text-decoration: none;
  color: var(--bgColor);
  border-radius: 10px;
  padding: 12px 50px;
}
.cta-primary:hover {
  color: var(--textColor);
  background-color: var(--primaryColor);
}
/* Breakpoints Main */
@media screen and (max-width: 768px) {
  .content-main {
    padding-top: 30px;
  }
  .main-left {
    margin: auto;
    padding-bottom: 0;
  }
  .main-left-wrap img {
    border-radius: 10%;
    width: 250px;
  }
  .main-right {
    width: 100%;
  }
  .main-right .subheadline {
    padding: 0px;
    padding-left: 25px;
    justify-content: start;
  }
  .main-right p {
    text-align: justify;
    margin: 10px 24px;
    font-weight: 400;
    line-height: normal;
    font-size: 0.8rem;
  }
  .cta-primary {
    margin-left: 22px;
    font-size: 0.9rem;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 50px;
  }
}
/* Main - Article */
.container-article {
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  padding-bottom: 200px;
  padding-top: 200px;
}
.wrap-left {
  display: flex;
  background-image: url(img/Menu.jpg);
  background-size: cover;
  background-position: 80% 75%;
  padding: 60px 200px;
  border-radius: 30px;
}
.wrap-right {
  display: flex;
  background-image: url(img/lokasi.jpg);
  background-size: cover;
  background-position: 50% 40%;
  padding: 60px 200px;
  border-radius: 30px;
}
.subheadline-wrap {
  cursor: pointer;
  color: var(--textColor);
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
}

/* Breakpoints Article */
@media screen and (max-width: 768px) {
  .container-article {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    gap: 2.5rem;
  }
  .wrap-left,
  .wrap-right {
    box-sizing: border-box;
    object-fit: cover;
    padding: 10px 90px;
  }
}

/* Main - Aside */
.social {
  inset-block: 0;
  inset-inline-end: 0;
  position: fixed;
}
.social-media {
  display: flex;
  height: 100%;
}
.social-media ul {
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #434343;
  padding: 1rem 1rem;
}
.social-media li img {
  margin: 0.3rem;
  width: 1.5rem;
}
.social-media ul li {
  list-style-type: none;
}
/* End Main */

/* Start Footer */
.container-footer {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #434343;
}
.footer-logo {
  display: flex;
}
.footer-logo img {
  width: 100px;
}
.footer-text p {
  cursor: default;
  font-weight: 400;
  color: var(--textColor);
}
/* Breakspoints */
@media screen and (max-width: 768px) {
  .container-footer {
    height: 100px;
  }
  .footer-logo {
    justify-content: center;
  }
  .footer-logo img {
    width: 20%;
    object-fit: cover;
  }
}
/* End Footer */
